/*place your styles here*/
/*Affect everything in the body tags, but can be overidden further done*/
body {
  /*Can use different formats RGB, hex numbers*/
  /*http://www.w3schools.com/cssref/pr_text_color.asp*/
  color: hotpink;
  /*Can define by px, % or word*/
  /*http://www.w3schools.com/cssref/pr_font_font-size.asp*/
  font-size: 12px;
  /*Pick a list of fonts to use if browser doesnt support*/
  /*http://www.w3schools.com/cssref/pr_font_font-family.asp*/
  font-family: Helvetica, Arial, sans-serif;
}
/*Change all tags with the ul*/
ul {
  /*Change properties in this tag of the list style ie icons, position etc*/
  /*http://www.w3schools.com/cssref/pr_list-style.asp*/
   list-style: none;
}

a {
   color: #a369d5;
   text-decoration: none;
   border-bottom: 1px dotted #a369d5;
}

.pictures {
   margin: 10px auto;
   width: 900px;
}

#logo {
   margin: 0 auto 30px;
   width: 200px;
}

.pictures li {
   display: inline;
   margin: 3px;
}

img {
  margin: 0;
  border: 0;
}

.bigimg img {
  margin: 15px 2px;
  width: 439px;
  border: 12px solid #b9b1bf;
}
